# Core libraries
numpy==1.23.5
pandas==1.5.2

# NLTK library and related dependencies
nltk==3.7

# Machine learning libraries
scikit-learn==1.1.3

# Plotting libraries
matplotlib==3.6.2
seaborn==0.12.1